*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
    background-image: url(./Image/22.jpeg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
}






/* Navigation Bar */

.nav-bar{
    height: 65px;
    margin-top:0.2px;
    background-color:white;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 1350px; 
}

ul{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    list-style: none;
    padding-top: 24px;
    padding-right: 100px;
}

.nav-bar a{
    font-size: 17px;
    text-decoration: none;
    padding-right: 20px;
    margin-top: 30px;
}

.nav-bar a:hover{
    font-size: 25px;
    transition: 0.7s;
}

.hamburger{
    display: none;
}

.cancel{
    display: none;
}

.home{
    color:  rgb(26, 188, 26);
    margin-right: 10px;
    padding: 22px 15px;
}









/* Content */

.container{
    background-image: url(./Image/22.jpeg);
    height: 108px;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin-top: 50px;
    
}

.contact-btn{
    color: white;
    background-color: rgb(31, 107, 228);
    font-size: 20px;
    padding: 15px 25px;
    width: 200px;
    border: none;
    border-radius: 25px;
    position: fixed;
    bottom: 30px;
    right: 40px;
    line-height: 30px;
    z-index: 1;
}


.contact-btn:hover{
    background-color: rgba(185, 185, 185, 0.862);
    opacity: 0.9;
    color: black;
    cursor: pointer;
    transition: 1s;
}

.frame{
    display: grid;
    grid-template-columns: 0.5fr 10fr;
    margin-left: 40px;
    
}

h5{
    color:  rgb(255, 166, 0);;
    padding-top: 50px;
    padding-left: 130px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1{
    color: white;
    margin-top: 28px;
    margin-left: 15px;
    font-family: 'roboto', sans-serif;
    font-size: 25px;
    line-height: 33px;
    word-spacing: 2px;
}

.line{
    background-color: rgb(255, 166, 0);
    height: 285px;
    width: 3px;
    margin-left: 92px;
    margin-top: 20px;
    border-radius: 30px;
}


.image{
    background-color:green;
    position: absolute;
    right: 150px;
    width: 250px;
    height: 250px;
    bottom: 120px;
    border-radius: 10px;
    clip-path: circle();
    padding: 20px;
}

.image img{
    width: 250px;
    border-radius: 10px;
 
}








/* second container */

.white-container{
    background-color: rgb(220, 225, 220);
    height: 1100px;
    border-radius: 100px;
    margin-top: 30px;
    position: relative;
    
}

.white-container ul{
    color: black;
    display:contents;

}

.white-container ul li{
    margin-left: 80px;
    font-size: 25px;
    color:rgb(99, 189, 99);
    margin-bottom: 10px;
    text-decoration: underline;

}

.white-container h5{
    color: black;
    font-size: 50px;
}

.why-choose-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.white-container img{
    width: 380px;
}

.short-note{
    font-size: 17px;
    line-height: 20px;
    padding-left: 25px;
    font-weight: normal;
    margin-left: 55px;
}


.part-two{
    padding-top: 140px;
    padding-left: 120px;
}

.part-two img{
    width: 400px;
}

.how-you-can-help{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 1262px;
    position: absolute;
    top: 580px;
}

.how-you-can-help h5{
    color: black;
    font-size: 50px;
    padding-left: 70px;

}

.how-you-can-help p{
    font-weight: normal;
    padding-left: 70px;
    line-height: 25px;
}

.green-background{
    background-color: rgb(144, 246, 144);
    width: 510px;
    padding: 20px 5px 20px 10px;
    margin-left: 70px;
    line-height: 27px;
}

.how-note-two .green-background{
    background-color: rgb(144, 246, 144);
    width: 510px;
    padding: 20px 5px 75px 10px;
    margin-left: 70px;
    line-height: 27px;
}

.division-line{
    background-color: green;
    color: green;
    height: 3px;
    width: 1180px;
    font-size: 1px;
    position: absolute;
    top: 1070px;
    z-index: 1;
    margin-left: 40px;
    margin-right: 70px;
}

.division-line-two{
    color: green;
    background-color: green;
    height: 3px;
    width: 1180px;
    font-size: 1px;
    position: absolute;
    top: 1400px;
    z-index: 1;
    margin-left: 40px;
    margin-right: 70px;
}




/* Footer */

.footer{
    padding-top: 500px;
    padding-left: 500px;
    color:  rgb(9, 65, 9);
    font-size: 16px;
}

    
 









 



/* index Responsiveness */


@media screen and (max-width:360px){


    /* Navigation Bar */

    *{
        padding: 0;
        margin: 0;
    }


    body{
        padding: 0;
        margin: 0;
        font-family: 'roboto', sans-serif;
        background-image: url(./Image/22.jpeg);
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1903px;
        scrollbar-width: none;
        max-width: max-content;
        width: 360px;
    }

    .nav-bar{
        display: block;
        height: 80px;
        margin-top:0.2px;
        background-color:white;
        position: fixed;    
        top: 0px;
        z-index: 1;
        width: 360px;
    }
    
    ul{
        display: block;
        list-style: none;
        padding-top: 0px;
        padding-right: 0px;
        z-index: 1;
        margin-top: 0px;
    }


    .nav-bar a{
        display:block;
        row-gap: 0px;
        height: 0px;
        font-size: 17px;
        text-decoration: none;
        padding-right: 0px;
        padding-left: 0px;
        color: white;
        z-index: 1;
        width:325px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 0;
    }
    
    
    .nav-bar a:hover{
        font-size: 25px;
        transition: 0.7s;
    }
    
    .home{
        margin-right: 20px;
        padding-left: 0;
        margin-left: 0px; 
    }

    .serve{
        display: block;
        color: white;
        padding-left: 0px;
        bottom: 20px;
        height: 200px; 
        width: 70px;
        padding-top: 40px;
        margin-top: 10px;
    }

    .ab{
        display: block;
        color: red; 
    }

    .cont{
        display: block;
        color:black;
        padding-left: 0px;
        padding-top: 0px;
        background-color: green; 
        height: 300px; 
        margin-top: 10px;
    } 

    .hamburger{
        display: block;
        width: 30px;
        position: absolute;
        top: 2px;
        right: 20px;
        width: 60px;
    }

    .menu{
        display: none;
        background-color: rgb(20, 20, 45);
        height: 479px;
        z-index: 1;
        width: 240px;
        padding-top: 0;
        margin-top: 0px;
        padding-left: 20px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        position: absolute;
        top: 0px;
        margin-bottom: 0px;
    }
    
    .cancel{
        display: none;
        width: 30px;
        padding-left: 310px;
        height: 30px;
        padding-top: 4px;
    } 




    /* Content */

    .container{
        background-image: url(./Image/22.jpeg);
        height: 508px;
        background-size: cover;
        opacity: 1;
        position: relative;
        margin-top: 50px;
        width: 360px;
    }

    .contact-btn{
        color: white;
        background-color: rgb(31, 107, 228);
        font-size: 20px;
        padding: 15px 25px;
        width: 200px;
        border: none;
        border-radius: 25px;
        position: fixed;
        bottom: 940px;
        left: 440px;
        line-height: 30px;
        z-index: 1;
        display: none;
    }


    .contact-btn:hover{
        background-color: rgba(185, 185, 185, 0.862);
        opacity: 0.9;
        color: black;
        cursor: pointer;
        transition: 1s;
    }

    .frame{
        display: grid;
        margin-left: 20px;
        margin-right: 10px;
    }

    h5{

        color:  rgb(255, 166, 0);;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        font-size: 18px;
        font-weight: normal;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }

    h1{
        color: white;
        margin-top: 25px;
        margin-left: 10px;
        font-family: 'roboto', sans-serif;
        font-size: 12px;
        line-height: 25px;
        word-spacing: 2px;
    }

    .line{
        background-color: rgb(255, 166, 0);
        height: 200px;
        width: 3px;
        margin-left: 0px;
        margin-top: 28px;
        border-radius: 30px;
    }


    .image{
        background-color:green;
        position: absolute;
        right: 150px;
        width: 250px;
        height: 250px;
        bottom: 120px;
        border-radius: 10px;
        clip-path: circle();
        padding: 20px;
    }

    .image img{
        width: 250px;
        border-radius: 10px;
    }

    .green{
        font-size: 10px;
    }


    /* second container */

    .white-container{
        background-color: rgb(220, 225, 220);
        height: 1540px;
        border-radius: 100px;
        margin-top: 30px;
        position: relative;
        width: 360px;
    }

    .white-container ul{
        color: black;
        display:contents;        
    }

    .white-container ul li{
        margin-left: 30px;
        font-size: 15px;
        color:rgb(99, 189, 99);
        margin-bottom: 10px;
        margin-top: 20px;
        padding-top: 20px;
        text-decoration: underline;
    }

    .white-container h5{
        color: black;
        font-size: 25px;
        margin-left: 25px;
        margin-top: 8px;
    }

    .why-choose-us{
        position: absolute;
        top: 5px;
        right: 70px;
        display: grid;
        grid-template-columns: 1fr;
    }


    .note-content{
        margin-top: 230px;
    }


    .white-container img{
        width: 240px;
        position: absolute;
        top: 80px;
        right: 6px;
    }

    .short-note{
        font-size: 20px;
        line-height: 20px;
        padding-left: 10px;
        font-weight: normal;
        margin-left: 20px;
    }

    .how-you-can-help{
        display: grid;
        grid-template-columns: 1fr;
        width: 1262px;
        position: absolute;
        top: 915px;
    }

    .how-you-can-help h5{
        color: black;
        font-size: 20px;
        padding-left: 15px;
    }

    .how-you-can-help p{
        font-weight: normal;
        padding-left: 70px;
        line-height: 25px;
    }

    .green-background{
        background-color: rgb(144, 246, 144);
        width: 280px;
        padding: 10px 0px 10px 10px;
        margin-left: 35px;
        margin-right: 100px;
        line-height: 20px;
        font-size: 12px;
    }

    .how-note-two .green-background{
        background-color: rgb(144, 246, 144);
        width: 280px;
        padding: 10px 0px 30px 10px;
        margin-left: 35px;
        line-height: 20px;
    }

    .division-line{
        background-color: green;
        color: green;
        height: 3px;
        width: 300px;
        font-size: 1px;
        position: absolute;
        top: 1274px;
        z-index: 1;
        margin-left: 30px;
        margin-right: 20px;
    }

    .division-line-two{
    background-color: green;
    color: green;
    height: 3px;
    width: 300px;
    font-size: 1px;
    position: absolute;
    top: 1780px;
    z-index: 1;
    margin-left: 30px;
    margin-right: 20px;
    }

    .footer{
        padding-top: 800px;
        position: absolute;
        bottom: 60px;
        color: red;
        padding-left: 80px;
        color:  rgb(9, 65, 9);
        font-size: 12px;
    }

}





















/* About Page */


.about-content{
    display: flex;
    margin-top:140px;
    justify-content: space-between;
}

.about-image img{
    width: 400px;
    padding-left: 100px;
    padding-top: 20px;
}

.about-note{
    float: right;
    color: white;
    padding-right: 90px;
    line-height: 25px;
    font-size: 17px;
    margin-top: 0px;
}


.about-footer{
    position: absolute;
    top:400px;
    color: grey;
}



/* About Responsiveness */

@media screen and (max-width:360px){


    /* Navigation Bar */

    *{
        padding: 0;
        margin: 0;
    }

    body{
        padding: 0;
        margin: 0;
        font-family: 'roboto', sans-serif;
        background-image: url(./Image/22.jpeg);
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        height: 803px;
        scrollbar-width: none;
        max-width: max-content;
        width: 360px;
    }

    .nav-bar{
        display: block;
        height: 35px;
        margin-top:0.2px;
        background-color:white;
        position: fixed;    
        top: 0px;
        z-index: 1;
        width: 360px;
    }
    
    ul{
        display: block;
        list-style: none;
        padding-top: 0px;
        padding-right: 0px;
        z-index: 1;
        margin-top: 0px;
    }
    
    
    .nav-bar a{
        display:block;
        row-gap: 0px;
        height: 0px;
        font-size: 17px;
        text-decoration: none;
        padding-right: 0px;
        padding-left: 0px;
        color: white;
        z-index: 1;
        width:325px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 0;
    }
    
    
    .nav-bar a:hover{
        font-size: 25px;
        transition: 0.7s;
    }
    
    .home{
        margin-right: 20px;
        padding-left: 0;
        margin-left: 0px; 
    }

    .serve{
        display: block;
        color: white;
        padding-left: 0px;
        bottom: 20px;
        height: 200px; 
        width: 70px;
        padding-top: 40px;
        margin-top: 10px;
    }

    .ab{
        display: block;
        color: red; 
    }

    .cont{
        display: block;
        color:black;
        padding-left: 0px;
        padding-top: 0px;
        background-color: green; 
        height: 300px; 
        margin-top: 10px;
    } 


    .hamburger{
        display: block;
        width: 30px;
        position: absolute;
        top: 2px;
        right: 20px;
        width: 35px;
    }

    .menu{
        display: none;
        background-color: rgb(14, 14, 27);
        height: 479px;
        z-index: 1;
        width: 340px;
        padding-top: 0;
        margin-top: 0px;
        padding-left: 20px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        position: absolute;
        margin-bottom: 0px;
        margin-top: 32px;
    }
    
    .cancel{
        display: none;
        width: 30px;
        padding-left: 310px;
        height: 30px;
        padding-top: 4px;
    } 





    /* About Content */

    .about-content{
        display: block;
        margin-top:10px;
        height: 200px;
    }


    
    .about-image img{
    width: 300px;
    padding-left: 30px;
    padding-top: 80px;
    }

    .about-note{
    float: right;
    color: white;
    padding-right: 10px;
    padding-left: 25px;
    line-height: 25px;
    font-size: 15px;
    margin-top: 25px;
    }

    .about-note h1{
    position: absolute;
    top: 20px;
    margin-left: 8px;
    font-size: 20px;
    }


    .about-footer{
    position: absolute;
    top:760px;
    color: grey;
    margin-left: 20px;
    }



 }

